*.o
*.deps
/config.log
/config.status
/mecab-naist-jdic/char.bin
/mecab-naist-jdic/matrix.bin
/mecab-naist-jdic/sys.dic
/mecab-naist-jdic/unk.dic
/mecab/config.h
/mecab/src/mecab-dict-index
/mecab/stamp-h1
/Makefile
/bin/Makefile
/jpcommon/Makefile
/mecab-naist-jdic/Makefile
/mecab/Makefile
/mecab/src/Makefile
/mecab2njd/Makefile
/njd/Makefile
/njd2jpcommon/Makefile
/njd_set_accent_phrase/Makefile
/njd_set_accent_type/Makefile
/njd_set_digit/Makefile
/njd_set_long_vowel/Makefile
/njd_set_pronunciation/Makefile
/njd_set_unvoiced_vowel/Makefile
/text2mecab/Makefile
/jpcommon/libjpcommon.a
/mecab/src/libmecab.a
/mecab2njd/libmecab2njd.a
/njd/libnjd.a
/njd2jpcommon/libnjd2jpcommon.a
/njd_set_accent_phrase/libnjd_set_accent_phrase.a
/njd_set_accent_type/libnjd_set_accent_type.a
/njd_set_digit/libnjd_set_digit.a
/njd_set_long_vowel/libnjd_set_long_vowel.a
/njd_set_pronunciation/libnjd_set_pronunciation.a
/njd_set_unvoiced_vowel/libnjd_set_unvoiced_vowel.a
/text2mecab/libtext2mecab.a
/bin/open_jtalk
